/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 1;
  box-shadow: 0 3px 6.4px 1px rgba(0, 0, 0, 0.25);
}

#map {
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  z-index: 0;
  margin-top: -140px;
}

#title {
  color: white;
  font-size: 40px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
  margin-top: 0px;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .inputField {
  width: 639px;
height: 80px;
border-radius: 20px 0 0 20px;
background: #FFF;
box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
} */

.display-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1420px;
  height: 209px;
  background: white;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.display-output {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 121.132%; 
  letter-spacing: 0.32px;
}

.display-title {
  color: #999;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 121.132%; 
  letter-spacing: 1.6px;
  margin-top: 0px;
  margin-bottom: 1px;
}

.input-group {
  display: flex;
  align-items: center;
}

#ip-search {
  width: 639px;
  height: 60px;
  border-radius: 20px 0 0 20px;
  background: #fff;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}

button {
  width: 74px;
  height: 61px;
  border-radius: 0 20px 20px 0;
  background: #010101;
  margin-top: -7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}