/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  width: 100%;
  height: 100vh;
  gap: 0px;
  margin: 0;
}

#map {
    width: 100%;
    height: 100%;
  margin: 0 auto;
}

/* #header-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
} */




