/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 268px;
  z-index: 1;
  box-shadow: 0 3px 6.4px 1px rgba(0, 0, 0, 0.25);
}

#map {
  width: 100%;
  height: 100%;
  /* flex-grow: 1; */
  z-index: 0;
}

#title {
  color: white;
  font-size: 40px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .inputField {
  width: 639px;
height: 80px;
border-radius: 20px 0 0 20px;
background: #FFF;
box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
} */
