.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#map {
  width: 1841px;
  height: 928px;
  aspect-ratio: 1841/928;
}

#header-image {
  width: 1841px;
  height: 358px;
  aspect-ratio: 1841/358;
  box-shadow: 0 3px 6.4px 1px rgba(0, 0, 0, 0.25);
}

#input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 15px;
}
